*{
    padding: 0;
    margin: 0;  
    box-sizing: border-box;
    /* background-color: black; */
}

.bg-black{
    background-color: #1211111e;
    color: #ffffffd3 !important;
}
.nav-item>.nav-link{
    color: #ffffffc4 !important;
}
.nav-item>.bi{
    color: #ffffffe3 !important;
}
/* row styling */
.transparent>.arrowleft{
   
    color: white;
    width: 50px;
    height: 80px;
}
.transparent>.arrowright{
   
    color: white;
    width: 50px;
    height: 80px;

}
.transparent{
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}
.transparent:hover .arrowleft{
    background-color: rgba(240,248,255,0.1);
    visibility: visible;
}
.transparent:hover .arrowright{
    background-color: rgba(240,248,255,0.1);
    visibility: visible;
}
.arrowleft,.arrowright{
    visibility: hidden;
}
.banner{
    background-position:center;
    background-size: cover;
}
#info-container{
    position: relative;

}
.info{
    position: absolute;
    top:365px;
    background-color: transparent;
}
#btn{
    background-color: transparent;
}
.img-st{
    transition: transform 0.3s linear;
}
.img-st:hover{
  transform: scale(1.1) ;

}